body {
	background-color: #d15710;
	background-image: linear-gradient(315deg, #d15710 0%, #efb572 100%);
	font-family: "Georgia", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
  overflow-y: scroll;
  overflow-x: scroll;
  }

.Headline{
  font-family: Georgia, serif;
  font-size: 16px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color:black
  font-weight: 700;
  text-decoration: none;
  position: fixed;
  top: 10px;
  bottom: 20px;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  text-shadow: 1px 17px 8px #4A301F;
  padding: 20px;
  }

.Bio {
  font-family: Georgia, serif;
  font-size: 12px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color:black
  font-weight: 500;
  font-variant: small-caps;
  text-decoration: none;
  text-align: center;
  background-color: #FFE6CC;
  width: 70%;
  padding: 15px;
  border: 5px solid black;
  border-radius: 25px;
  }

.Footer {
  font-family: Georgia, serif;
  font-size: 11px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color:black
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
  position: fixed;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
}