body {
	background-color: #d15710;
	background-image: linear-gradient(315deg, #d15710 0%, #efb572 100%);
  background-size: cover;
	font-family: "Georgia", sans-serif;
  line-height: 1.5em;
	display:flex;
	align-items:center;
  flex-direction:column;
	justify-content:center;
	overflow:scroll;
	margin:auto;
  overflow-y:scroll;
  overflow-x:scroll;
  padding-top: 50px;
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFE6CC;
  position: fixed;
  top: 0;
  padding-bottom: 2px;
  width: 100%;
  font-family: "Georgia", sans-serif;
  font-variant: small-caps;
  z-index: 1;
  display: flex;
  flex: 1;
}

li {
  float: left;
}

li a {
  display:block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #faf1e7;
}

@media all and (max-width: 600px) {  
    
  ul {  
    flex-wrap: wrap;  
  }  
    
  ul > li {  
    flex-basis: 50%;  
    max-block-size: 30px;
  }

  li a:hover {
    background-color: transparent;
    
  }

}

@media all and (max-width: 400px) {  
  ul > li {  
    flex-basis: 100%;  
  }  
  .Headline {
    position: static;
    margin-top: 100px;
    border-top: 1.5em;
    border-bottom: 1.5em;
  }
  }  

.Headline{
  font-family: Georgia, serif;
  font-size: 2.8vmin;
  letter-spacing: 2px;
  word-spacing: 2px;
  color:black;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  top: 0;
  bottom: 30px;
  background-color: #FFE6CC;
  background-size: 100% 100%;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  text-shadow: 1px 7px 8px #4A301F;
  text-align: center;
  padding: 20px;
  padding-bottom:45px;
  display: block;
  z-index: 0;
  height: 80px;
  width: 100%;
  overflow: visible;
  line-height: 2.5em;
  }

.Bio {
  font-family: Georgia, serif;
  font-size: 12px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color:#FFE6CC;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  background-color: #8e3909;
  width: 70%;
  padding: 15px;
  border: 5px solid #FFE6CC;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 120px;
  z-index: 0;
  }

.Bio img {
  max-width: 70%;
  height: auto;
  border-radius: 25px;
}

.Social {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  width: 237px;
  border-style: double;
  border-width: medium;
  border-color: #d15710 black;
  padding: 10px;
  z-index: 0;
  background-color: black;
  }

.Social img {
  height: 100px;
  width: 100px;
  padding: 5px;
  margin: 3px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px 3px white;
}

.Footer {
  font-family: Georgia, serif;
  font-size: 11px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color:black
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
  position: relative;
  bottom: 0;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.ResumeIntro {
  font-family: Georgia, serif;
  font-size: 18px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color:black;
  font-weight: 500;
  font-variant: small-caps;
  text-decoration: none;
  text-align: center;
  padding: 20px;
}

.Experience {
  font-family: Georgia, serif;
  font-size: 18px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color:black;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.Experience img {
  width: auto;
  height: 80px;
  border-radius: 25px;
}

#DarkBlock {
  background-color: #8e3909;
  width: 70%;
  padding: 15px;
  border: 5px solid #8e3909;
  color: #FFE6CC;
  text-align: left;
}

#LightBlock {
  background-color: #FFE6CC;
  width: 70%;
  padding: 15px;
  border: 5px solid #8e3909;
  text-align: left;
  color: #8e3909;
}

#ProjectExample {
  width: 70%;
  height: auto;
  margin-left: 10%;
  margin-right: auto;
  position: relative;
  align-content: center;
}
